In [1]:
import sys
sys.path.append("../ml")  
from dataset import load_dataset
import pandas as pd


df = load_dataset("AAPL")
df.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open     Volume target
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2016-01-29  21.947147  21.947147  21.272996  21.372203  257666000      0
2016-02-01  21.741972  21.805103  21.509739  21.750991  163774000      0
2016-02-02  21.302305  21.654036  21.257210  21.514245  149428800      1
2016-02-03  21.723934  21.834413  21.212120  21.419551  183857200      1
2016-02-04  21.898489  22.063975  21.578854  21.730737  185886800      0